:root {
  --primary-text-color: #222222;
  --secondary-text-color: #3f3f3f;
  --third-text-color: #c5c5c5;
  --primary-highlight-color: #fe5d26;
  --secondary-highlight-color: #426391;
  --third-highlight-color: #101010;
  --background-color: #fff8f0;
  --background-secondary-color: #e0d8ce; }

[data-theme="dark"] {
  --primary-text-color: #fff8f0;
  --secondary-text-color: #c0c0c0;
  --third-text-color: #7c7c7c;
  --primary-highlight-color: #fe5d26;
  --secondary-highlight-color: #426391;
  --third-highlight-color: #101010;
  --background-color: #2e2e2e;
  --background-secondary-color: #2e2e2e; }

@font-face {
  font-family: 'Nunito Sans';
  src: url("../fonts/Nunito_Sans/NunitoSans-Regular.ttf");
  font-weight: 100 900; }

@font-face {
  font-family: 'Spartan';
  src: url("../fonts/Spartan/Spartan-VariableFont_wght.ttf");
  font-weight: 100 900; }

@font-face {
  font-family: 'Noto Sans';
  src: url("../fonts/Noto_Sans/NotoSans-Regular.ttf");
  font-weight: 100 900; }

a, a:visited, .a:hover, a:active, p {
  color: inherit;
  text-decoration: none; }

button {
  outline: none; }

input:focus, textarea {
  outline: none !important; }

body {
  margin: 0 !important;
  background-color: var(--background-color);
  color: var(--secondary-text-color); }

.content_wrapper {
  background-color: var(--background-color); }

@media (prefers-color-scheme: dark) {
  .image-darken__added {
    opacity: .75;
    transition: opacity .5s ease-in-out; }
  .image-darken__added:hover {
    opacity: 1; } }

.bio-highlight__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }

.bio-icons__wrapper {
  margin: 20px auto;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center !important; }

.bio-portrait {
  align-items: center;
  justify-content: space-around;
  margin: 10px auto;
  height: 300px !important;
  flex-shrink: 0; }

.bio-icons {
  padding: 15px;
  width: 200px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  flex-direction: column; }

.bio-icon__points {
  margin: 0;
  padding: 0;
  list-style: none; }

.bio-icon__point {
  padding: 3px; }

.fa-blue {
  color: var(--secondary-highlight-color); }

#page {
  width: 100%;
  overflow: hidden;
  background: transparent; }

.content-wrapper {
  margin: 60px auto;
  max-width: 1200px; }

.content-more a {
  float: right; }

.section-header__wrapper {
  margin: 20px auto;
  font-size: 44px;
  color: var(--primary-text-color); }

.content-main {
  margin: 0 auto;
  display: block;
  width: 90%; }

.content-sidebar {
  background-color: var(--background-secondary-color);
  margin: 0 auto;
  width: 90%;
  display: block; }

.wpforms-field-label {
  text-align: left; }

/* Medium devices (Laptops 1024px and up) */
@media (min-width: 1024px) {
  .content-main {
    display: inline-block;
    width: 70%;
    padding: 20px; }
  .content-sidebar {
    margin-top: 40px;
    display: inline-block;
    width: 28%;
    vertical-align: top; } }

/* SCROLLING */
.nav-mobile {
  --background-color: #fff8f0
    position: fixed;
  top: 0;
  left: 0;
  display: block;
  height: 60px;
  width: 100vw;
  background-color: var(background-color);
  z-index: 1000; }

.nav-logo {
  padding: 3px !important;
  box-sizing: border-box;
  height: 100%; }

.nav-logo img {
  display: block;
  max-height: 54px;
  width: auto;
  height: 100%; }

#nav-menu-1 {
  position: fixed;
  top: -300px;
  transition: linear 0.3s;
  z-index: 900;
  background-color: var(--background-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; }

#nav-menu-2 {
  position: fixed;
  top: 60px;
  transition: linear 0.3s;
  z-index: 900;
  background-color: var(--background-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.nav-menu__item {
  text-align: center;
  padding: 16px 26px 18px 16px;
  color: var(--primary-text-color); }

.nav-menu__item a {
  text-decoration: none;
  color: inherit; }

.nav-menu__item a:active {
  text-decoration: none;
  color: inherit; }

.search-form {
  display: inline-flex;
  align-items: center;
  justify-content: center; }

#nav-mobile__modal-1 {
  display: none; }

#nav-mobile__modal-2 {
  position: fixed;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 400;
  background-color: rgba(22, 22, 22, 0.6);
  transition: linear 0.3s; }

.nav-mobile__toggle {
  position: absolute;
  right: 20px;
  top: 0;
  height: 60px;
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.nav-mobile__toggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: var(--primary-highlight-color);
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }

/* Hide desktop elements */
.nav-primary {
  display: none; }

/* Medium devices (Laptops 1024px and up) */
@media (min-width: 1024px) {
  .nav-primary {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    height: 60px;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: inline-flex;
    justify-content: space-between;
    align-content: flex-end;
    border-bottom: 1px solid var(--third-text-color); }
  .nav-primary__container {
    margin: 0 auto;
    width: 100%;
    display: inline-flex;
    justify-content: space-between; }
  /* Hide mobile elements */
  .nav-mobile {
    display: none; }
  .nav-primary__items {
    text-align: bottom;
    display: inline-flex; }
  .nav-primary__item {
    color: #fff8f0;
    padding: 20px;
    padding-bottom: 5px;
    padding-top: 10px;
    align-self: flex-end; }
  .nav-primary__item-hover:hover {
    color: var(--primary-highlight-color); }
  .nav-primary__item a {
    color: inherit; }
  html:not([data-scroll='0']) .nav-primary {
    background-color: var(--background-color); }
  html:not([data-scroll='0']) .nav-primary__item {
    color: var(--primary-text-color); } }

@media (min-width: 1200px) {
  .nav-primary__container {
    width: 1200px; } }

/* Footer */
.site-footer {
  border-top: 1px solid var(--third-text-color);
  width: 100vw;
  background-color: var(--background-secondary-color); }

.footer-wrapper {
  width: 100%;
  display: inline-flex;
  padding: 40px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }

.footer-icon_wrapper {
  padding: 40px;
  margin: 0 auto;
  width: 40%;
  border-bottom: 2px solid var(--primary-text-color); }

.footer-icons {
  margin-top: 10px;
  display: inline-flex;
  width: 100%;
  justify-content: center; }

.footer-icon .fa {
  padding: 5px;
  color: var(--primary-highlight-color); }

.footer-menu__wrapper {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.signup-form_widget_mc4wp_form_widget {
  background-color: var(--background-secondary-color); }

.newsletter-names {
  list-style: none;
  margin: 0; }

#mc4wp_form_widget-4 .widgettitle {
  margin: 0;
  color: var(--primary-highlight-color);
  text-align: center; }

#mc4wp_form_widget-4 .newsletter-submit {
  border: 1px solid var(--primary-highlight-color);
  color: var(--primary-highlight-color);
  background-color: var(--background-color); }

#mc4wp_form_widget-4 .newsletter-submit:hover {
  color: var(--background-color);
  background-color: var(--primary-highlight-color); }

.footer-icon-text {
  color: var(--secondary-text-color);
  text-align: center;
  line-height: 40px; }

.footer-widget__title {
  text-align: center;
  color: var(--primary-text-color); }

.footer-widget {
  padding: 20px;
  padding-top: none;
  color: var(--secondary-text-color); }

.footer-widget ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center; }

.footer-widget ul li {
  padding: 2px; }

.bottom-wrapper {
  padding: 0 5px 0 5px;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap; }

@media (min-width: 1024px) {
  .signup-form_widget_mc4wp_form_widget {
    width: 400px; } }

.photobanner {
  margin: 0;
  width: 100%;
  position: relative;
  display: grid;
  place-items: center; }

.photobanner-block {
  display: block;
  width: 100vw;
  height: 100vh; }

.photobanner-title {
  margin: 0;
  text-align: center;
  position: absolute;
  color: var(--primary-text-color);
  font-size: 44px;
  z-index: 5; }

.photobanner-cover {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2; }

.photobanner-button__wrapper {
  text-align: center !important;
  z-index: 3;
  font-size: 18px !important;
  color: #fff !important;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  opacity: 0.9; }

.photobanner-button__wrapper:after, .photobanner-button__wrapper:before {
  content: "";
  display: table;
  clear: both; }

.photobanner-button {
  padding: 20px;
  font-size: 40px; }

.photobanner-button__dots {
  background-color: #000;
  background-color: transparent !important;
  color: #fff;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  border: 1px solid #ccc !important;
  border-radius: 50%;
  height: 13px;
  width: 13px;
  padding: 0; }

.photobanner-button__dots-white {
  color: #000 !important;
  background-color: #fff !important; }

.photobanner-button__dots:hover {
  color: #000 !important;
  background-color: #fff !important; }

.photobanner-button:hover {
  color: rgba(0, 0, 0, 0.8);
  background-color: rgba(255, 255, 255, 0.4);
  cursor: pointer; }

.photobanner-button__left {
  float: left !important; }

.photobanner-button__right {
  float: right !important;
  animation-name: example;
  animation-duration: 10s;
  animation-delay: 1s; }

@keyframes example {
  0% {
    color: #fff !important;
    background-color: rgba(255, 255, 255, 0); }
  10% {
    color: rgba(0, 0, 0, 0.8);
    background-color: rgba(255, 255, 255, 0.4); }
  20% {
    color: #fff !important;
    background-color: rgba(255, 255, 255, 0); }
  30% {
    color: rgba(0, 0, 0, 0.8);
    background-color: rgba(255, 255, 255, 0.4); }
  40% {
    color: #fff !important;
    background-color: rgba(255, 255, 255, 0); }
  50% {
    color: rgba(0, 0, 0, 0.8);
    background-color: rgba(255, 255, 255, 0.4); }
  60% {
    color: #fff !important;
    background-color: rgba(255, 255, 255, 0); }
  70% {
    color: rgba(0, 0, 0, 0.8);
    background-color: rgba(255, 255, 255, 0.4); }
  80% {
    color: #fff !important;
    background-color: rgba(255, 255, 255, 0); }
  90% {
    color: rgba(0, 0, 0, 0.8);
    background-color: rgba(255, 255, 255, 0.4); }
  100% {
    color: #fff !important;
    background-color: rgba(255, 255, 255, 0); } }

/* Medium devices (Laptops 1024px and up) */
@media (min-width: 1024px) {
  .photobanner-title {
    margin: 0;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0); }
  .photobanner-button__wrapper {
    padding: 0.01em 16px; } }

.post-package__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.post-package {
  position: relative;
  width: 45%;
  min-width: 300px;
  margin: 10px;
  flex: 0 1 auto; }

.package-icons {
  position: absolute;
  left: 0;
  top: 0;
  max-height: 100%;
  z-index: 100; }

.package-icon {
  margin: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--primary-highlight-color);
  border-radius: 50%;
  padding: 5px; }

.package-image__wrapper {
  max-width: 100%; }

.package-title__wrapper {
  width: 100%; }

.package-title {
  text-align: left;
  margin-top: 8px;
  font-size: 24px;
  color: var(--primary-text-color); }

/* ----------------Load More Buttons------------- */
.content-more {
  display: flex;
  justify-content: center; }

.button-load {
  border: 1px solid var(--third-text-color);
  color: var(--secondary-text-color);
  background-color: var(--background-color);
  padding: 8px; }

.button-load:hover {
  cursor: pointer;
  border: none;
  border: 1px solid var(--third-text-color);
  color: var(--background-color);
  background-color: var(--secondary-text-color); }

@media (min-width: 1024px) {
  .package-icon {
    width: 40px;
    height: 40px; } }

.search-form1 {
  display: inline-flex;
  transition: 0.4s linear;
  width: 0;
  overflow: hidden; }

.search-form2 {
  border: 1px solid var(--primary-highlight-color);
  display: inline-flex;
  transition: 0.4s linear;
  width: 193px;
  flex-wrap: nowrap;
  overflow: hidden; }

.search-button1 {
  display: inline-flex;
  color: var(--primary-highlight-color);
  background-color: rgba(0, 0, 0, 0);
  border: none; }

.search-button2 {
  display: inline-block;
  border: 1px solid var(--primary-highlight-color);
  color: var(--primary-highlight-color);
  background-color: var(--background-color); }

.search-field {
  border: none; }

.search-icon {
  color: var(--primary-highlight-color); }

#icon-submit {
  color: var(--primary-highlight-color); }

.search-submit {
  margin: 0;
  border: 1px solid var(--primary-highlight-color);
  background-color: var(--background-color); }

/* Side Bar General*/
.widget-area {
  margin: 20px 0;
  width: 100%; }

.widget {
  width: 100%; }

.widget-title {
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 5px;
  width: 100%; }

.widget-title:first-of-type {
  margin-top: 0; }

.widget ul {
  list-style-type: none;
  margin: 0; }

/* News Letter Form */
.newsletter-names {
  width: 100%;
  padding-left: 0;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.newsletter-names li {
  margin: 2px;
  width: 90%; }

.newsletter-label {
  width: 100%; }

.newsletter-input {
  width: 100%;
  border: 1px solid var(--third-text-color);
  color: var(--third-text-color);
  background-color: var(--background-color); }

.newsletter-input::-webkit-input-placeholder,
.newsletter-input:-ms-input-placeholder,
.newsletter-input::placeholder {
  color: var(--secondary-text-color); }

.newsletter-submit {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--primary-highlight-color);
  background-color: var(--background-secondary-color);
  color: var(--primary-highlight-color); }

.newsletter-submit:hover {
  background-color: var(--primary-highlight-color);
  color: var(--background-secondary-color); }

/* --------------Archive-------------- */
.widget_archive ul {
  display: inline-flex;
  flex: 1 1 auto;
  padding-left: 0;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%; }

.widget_archive ul li {
  color: var(--secondary-text-color);
  margin: 5px; }

.widget_archive ul li a {
  padding: 5px;
  display: inline-block;
  width: 100%;
  height: 100%;
  color: inherit; }

.widget_archive ul li:hover {
  color: var(--primary-highlight-color);
  cursor: pointer; }

/* Categories */
.widget_categories ul {
  display: inline-flex;
  flex: 1 1 auto;
  padding-left: 0;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%; }

.widget_categories ul li {
  color: var(--secondary-text-color);
  margin: 5px; }

.widget_categories ul li a {
  padding: 5px;
  display: inline-block;
  width: 100%;
  height: 100%;
  color: inherit; }

.widget_categories ul li:hover {
  color: var(--primary-highlight-color);
  cursor: pointer; }

/* Recent Posts */
.widget_recent_entries ul {
  display: flex;
  padding-left: 0;
  flex-direction: column; }

.widget_recent_entries ul li {
  color: var(--secondary-text-color);
  margin: 5px 10px 5px 10px;
  text-align: center; }

.widget_recent_entries ul li a {
  padding: 5px;
  display: inline-block;
  width: 100%;
  height: 100%;
  color: inherit; }

.widget_recent_entries ul li:hover {
  color: var(--primary-highlight-color);
  cursor: pointer; }

@media (min-width: 1024px) {
  /* News Letter Form */
  .newsletter {
    width: 100%; }
  /* Archives */ }

/*!
Theme Name: Ascend Performance and Rehab
Theme URI: http://underscores.me/
Author: Colin Hale
Author URI: http://halecolin.com
Description: Ascend Performance and Rehab
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: ascend
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

Ascend Performance and Rehab is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------*/
* {
  box-sizing: border-box;
  font-family: Nunito Sans, sans-serif; }

h1 {
  font-family: Noto Sans, sans-serif; }

.image {
  max-width: 100%;
  max-height: 100%; }

.section-header, .entry-title, .page-title {
  color: var(--primary-text-color);
  margin-top: 0;
  font-size: 44px;
  margin: 0 0 44px 0; }

.post-image__wrapper {
  width: 95%;
  margin: 0 auto;
  margin-top: 65px; }

.nav-links {
  display: inline-flex;
  justify-content: space-between;
  width: 100%; }

.nav-next,
.nav-previous {
  padding: 10px;
  color: var(--primary-text-color);
  background-color: var(--background-secondary-color);
  border: 1px solid var(--primary-text-color);
  margin: 2px; }

.nav-next:hover,
.nav-previous:hover {
  color: var(--primary-highlight-color); }

.nav-next a {
  width: 100%;
  text-align: center; }

/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
  margin: 0 20px 10px 0;
  display: flex;
  align-items: center; }
  .theme-switch-wrapper em {
    margin-left: 10px;
    font-size: 1rem; }

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px; }

.theme-switch input {
  display: none; }

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s; }

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px; }

input:checked + .slider {
  background-color: var(--primary-highlight-color); }

input:checked + .slider:before {
  transform: translateX(26px); }

.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }
