$colors : (
    bgc: #ebeced,
    bgc-icon:  #FE5D26,
    bgc-ic:  #f17348,
    text: #222222,
    text-light: #ffffff,
    section-header: #222222,
    nav-hamburger: #222222,
    nav-bgc: #ebeced,
    nav-bgc-dark: #222222,
    nav-text: #222222,
    package-color: #0F0F0F, 
    two: #c1cbcc,
    three: #cbc5c1,
	five: #3e3e3b,
    six: #1860cc,
    seven: #0f365b,
    eight: #0f365b
);

$sizes : (
    nav-height: 60px,
    package-icon: 40px,
    banner-height: 600px
)