@import 'variables';

#page {
    width: 100%;
    overflow: hidden;
    background: transparent;
   }

.content-wrapper {
    margin: 60px auto;
    // text-align: center;
    max-width: 1200px;
}

.content-more a{
    float: right;
}

.section-header__wrapper {
    margin: 20px auto;
    font-size: 44px;
    color: var(--primary-text-color);
}


.content-main {
    margin: 0 auto;
    display: block;
    width: 90%;

}

.content-sidebar {
    background-color: var(--background-secondary-color);
    margin: 0 auto;
    width: 90%;
    display: block;
}

.wpforms-field-label {
 text-align: left;
}

/* Medium devices (Laptops 1024px and up) */
@media (min-width: 1024px) {
    .content-main {
        display: inline-block;
        width: 70%;
        padding: 20px;
    }
    
    .content-sidebar {
        margin-top: 40px;
        display: inline-block;
        width: 28%;
        vertical-align: top;
    }

}
