@import 'variables';

/* SCROLLING */
// Logic
// .header-backer {
//     position: fixed;
//     top: 0;
//     width: 100%;
//     height: map-get($map: $sizes, $key: nav-height);
//     background-color:  var(--background-color);
//     }

// html:not([data-scroll='0']) {
//     .header-backer {
//         background-color:  var(--background-color);
//     }
    
// }

.nav-mobile {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    height: map-get($map: $sizes, $key: nav-height);
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

html:not([data-scroll='0']) {
    .nav-mobile {
        background-color:  var(--background-color);
    }
    // .nav-primary__item {
    //     color: var(--primary-text-color);
    // }
    
}

.nav-logo{
    padding: 3px !important;
    box-sizing: border-box;
    height: 100%;
}

.nav-logo img{
    display: block;
    // max-height: map-get($map: $sizes, $key: nav-height);
    max-height: 54px;
    width: auto;
    height: 100%;
 
}

//Mobile Modal and dropdown styles
#nav-menu-1 {
    position: fixed;
    top: -360px;
    transition: linear 0.3s;
    z-index: 900;
    // background-color: var(--background-color);
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#nav-menu-2 {
    position: fixed;
    top: map-get($map: $sizes, $key: nav-height);
    transition: linear 0.3s;
    z-index: 900;
    background-color:  var(--background-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-menu__item {
    text-align: center;
    padding: 16px 26px 18px 16px;
    color: var(--primary-text-color);
}
.nav-menu__item a {
    text-decoration: none;
    color: inherit;
}

.nav-menu__item a:active{
    text-decoration: none;
    color: inherit;
}

.search-form {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


#nav-mobile__modal-1 {
    display: none;
}

#nav-mobile__modal-2 {
	position: fixed;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 400;
    background-color: rgba(22,22,22,0.6);
    transition: linear 0.3s;
}

//Hamburger styles
.nav-mobile__toggle {
    position: absolute;
    right: 20px;
    top: 0;
    height: map-get($map: $sizes, $key: nav-height);
    width: map-get($map: $sizes, $key: nav-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-mobile__toggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: var(--primary-highlight-color);
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
 
/* Hide desktop elements */
.nav-primary {
    display: none;
}

/* Medium devices (Laptops 1024px and up) */
@media (min-width: 1024px) {
    .nav-primary {
        position: fixed;
        top: 0;
        left: 0;
        display: block;
        height: map-get($map: $sizes, $key: nav-height);
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.2);
        z-index: 1000;
        display: inline-flex;
        justify-content: space-between;
        align-content: flex-end;
        border-bottom: 1px solid var(--third-text-color);
    }

    .nav-primary__container{
        margin: 0 auto;
        width: 100%;
        display: inline-flex;
        justify-content: space-between;

    }
/* Hide mobile elements */
    .nav-mobile {
        display: none;
    }
    .nav-primary__items{
        text-align: bottom;
        display: inline-flex;
    }

    .nav-primary__item {
        color: #fff8f0;
        padding: 20px;
        padding-bottom: 5px;
        padding-top: 10px;
        align-self: flex-end;
    }

    .nav-primary__item-hover:hover {
        color: var(--primary-highlight-color);
        // // font-weight:bold;
        // border-bottom: 1px solid map-get($map: $colors, $key: nav-bgc-hover);
    }  

    .nav-primary__item a {
        color: inherit
    }

    html:not([data-scroll='0']) {
        .nav-primary {
            background-color:  var(--background-color);
        }
        .nav-primary__item {
            color: var(--primary-text-color);
        }
        
    }
}

@media (min-width: 1200px) {
    .nav-primary__container{
        width: 1200px;
    }
}



/* Footer */
.site-footer {
    border-top: 1px solid var(--third-text-color);
    width: 100vw;
    background-color: var(--background-secondary-color);
}

.footer-wrapper {
    width: 100%;
    display: inline-flex;
    padding: 40px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.footer-icon_wrapper{
    padding: 40px;
    margin: 0 auto;
    width: 40%;
    border-bottom: 2px solid var(--primary-text-color);
}

.footer-icons{
    margin-top: 10px;
    display: inline-flex;
    width: 100%;
    justify-content: center;
}

.footer-icon .fa {
    padding: 5px;
    color: var(--primary-highlight-color);
}

.footer-menu__wrapper{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.signup-form_widget_mc4wp_form_widget {
    background-color: var(--background-secondary-color);
}

.newsletter-names {
    list-style: none;
    margin: 0;

}

#mc4wp_form_widget-4 .widgettitle {
    margin: 0;
    color: var(--primary-highlight-color);
    text-align: center;
}

#mc4wp_form_widget-4 .newsletter-submit {
    border: 1px solid var(--primary-highlight-color);
    color: var(--primary-highlight-color);
    background-color: var(--background-color);
}

#mc4wp_form_widget-4 .newsletter-submit:hover {
    color: var(--background-color);
    background-color: var(--primary-highlight-color);
}

.footer-icon-text{
    color: var(--secondary-text-color);
    text-align: center;
    line-height: 40px;
}

.footer-widget__title {
    text-align: center;
    color: var(--primary-text-color);
}

.footer-widget{
    padding: 20px;
    padding-top: none;
    color: var(--secondary-text-color);
}

.footer-widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;

}

.footer-widget ul li {
    padding: 2px;
}

.bottom-wrapper {
    padding: 0 5px 0 5px;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (min-width: 1024px) {
.signup-form_widget_mc4wp_form_widget {
    width: 400px;
}
}