@import 'variables';

.post-package__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.post-package {
    position: relative;
    width: 45%;
    min-width: 300px;
    margin: 10px;
    flex: 0 1 auto;
}

.package-icons {
    position: absolute;
    left: 0;
    top: 0;
    max-height: 100%;
    z-index: 100;
    // display: flex;
    // flex-direction: column;

}

.package-icon {
    margin: 8px;
    width: map-get($map: $sizes, $key: package-icon-small);
    height: map-get($map: $sizes, $key: package-icon-small);
    background-color: var(--primary-highlight-color);
    border-radius: 50%;
    padding: 5px;
}

.package-image__wrapper{
    max-width: 100%;
}

.package-title__wrapper{
    width: 100%;
}

.package-title{
    text-align: left;
    margin-top: 8px;
    font-size: 24px;
    color: var(--primary-text-color);
}


/* ----------------Load More Buttons------------- */
.content-more {
    display: flex;
    justify-content: center;
}

.button-load {
    // border: 1px solid var(--primary-highlight-color);
    // color: var(--primary-highlight-color);
    // background-color: var(--background-color);
    border: 1px solid var(--third-text-color);
    color: var(--secondary-text-color);
    background-color: var(--background-color);
    padding: 8px;
}

.button-load:hover {
    cursor: pointer;
    border: none;
    border: 1px solid var(--third-text-color);
    color: var(--background-color);
    background-color: var(--secondary-text-color);
}


@media (min-width: 1024px) {
    .package-icon {
        width: map-get($map: $sizes, $key: package-icon);
        height: map-get($map: $sizes, $key: package-icon);
    }
}